<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Contact Page</title>
  <%- include ('partials/head') %>
</head>

<body>
  <%- include ('partials/navigation') %>



    <div class="container" id="cardContainer">
      <div class="card animated flipInY">
        <div class="card-header bg-dark text-white text-center">
          <h4 id="pid" style="display: block;"></h4>
        </div>
        <div class="card-body bg-dark">
          <form action="">
            <div class="form-group">
              <div class="row">
                <div class="col-sm">
                  <label for="fname">Nome:</label>
                  <input class="form-control" type="text" id="fname" name="fname">
                  <label for="nname">Apelido:</label>

                  <input class="form-control" type="text" id="nname" name="nname"><br>
                </div>

                <div class="col-sm">
                  <label for="country">País:</label>
                  <input class="form-control" type="text" id="country" name="country">
                  <label for="team">Time:</label>
                  <input class="form-control" type="text" id="team" name="team"><br>
                </div>

                <div class="col-sm">
                  <label for="gender">Gênero:</label>
                  <input class="form-control" type="text" id="gender" name="gender">
                  <label for="pnumber">Numero:</label>
                  <input class="form-control" type="text" id="pnumber" name="pnumber"><br>
                </div>
              </div>
            </div>
          </form>
          <div class="row">
            <button class="btn btn-primary btn-block" onclick=<%=btnFunction %>>
              <%- btnTag %>
            </button>
          </div>
          <br>
          <div class="row">
            <button class="btn btn-secondary" onclick="deletePlayerBtn();">
              Apagar
            </button>

          </div>
        </div>
      </div>
    </div>

    <%- include ('partials/footer') %>
      <script>
        $(document).ready(function () {
          var pathCurrent = window.location.pathname;
          if (pathCurrent.substring(0, 8) === "/player-") {
            var playerId = pathCurrent.substring(8);
            console.log("Player id: " + playerId);
            try {
              getPlayerBtn(playerId);
            } catch (err) {
              console.log("no player found");
              console.log(err);
            }
          }
        });
      </script>

</body>

</html>